<div class="index-wrap">
  <div class="content-left">
    <h1>Testter</h1>
    <p class="info-txt">このサイトは、Railsの学習用に作成したテストサイトです。<br>
    実在するサービスとは一切関係ございませんので、ご注意ください。</p>
    <p class="link-main-btn"><%= link_to "ツイート一覧画面へ", tweets_path %></p>
  </div>
  
  <div class="content-right">
    <img src="<%= asset_path "index_devices.png" %>">
  </div>  
</div>
